*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color:white;
}

.lang{
  position:absolute;
  top:20px;
  right:20px;
}

.lang button{
  background:#1e293b;
  color:white;
  border:none;
  padding:6px 10px;
  margin:3px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.lang button:hover{
  background:#2563eb;
  transform:scale(1.1);
}

.card{
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  border:1px solid rgba(255,255,255,0.1);
  padding:35px;
  border-radius:20px;
  text-align:center;
  width:320px;
  animation:fadeIn 1s ease;
  box-shadow:0 0 40px rgba(37,99,235,0.3);
}

.avatar{
  width:110px;
  border-radius:50%;
  margin-bottom:15px;
  border:3px solid #2563eb;
}

h1{
  font-size:24px;
  margin-bottom:5px;
}

p{
  opacity:0.7;
  margin-bottom:20px;
}

.links a{
  display:block;
  margin:10px 0;
  padding:12px;
  border-radius:10px;
  text-decoration:none;
  color:white;
  font-weight:500;
  background: linear-gradient(45deg,#2563eb,#3b82f6);
  transition:0.3s;
}

.links a:hover{
  transform:translateY(-3px);
  box-shadow:0 5px 20px rgba(37,99,235,0.6);
}

@keyframes fadeIn{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}
